<% content_for :content do %>

  <div class="container">
    <p id="notice"><%= notice %></p>

    <div class="jumbotron">
      <h1>Articles</h1>
    </div>

    <div id="article-container">
      <% @articles.each do |article| %>
          <div class="article">
            <h3><%= article.title %></h3>
            <p><%= article.content %></p>
            <small>By: <%= article.author %></small>
            <br>
            <div class="link-button"><%= link_to 'Read more', article %></div>
            <div class="link-button"><%= link_to 'Edit', edit_article_path(article) %></div>
            <div class="link-button"><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
      <% end %>
    </div>

    <br>

    <%= button_to 'New Article', new_article_path, class: 'btn btn-primary' %>
  </div>

<% end %>